/* 

.custom-data-table .rdt_TableRow {
  height: 70px;
  padding: 1px; 
}

.custom-data-table .rdt_TableCell {
  display: flex;
  align-items: center;
}

.custom-data-table .custom-button {
  padding: 5px;
} */
